<a href="https://colab.research.google.com/github/Akshadabangar/Akshada/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [14]:
csv_url='https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [15]:
iris=pd.read_csv(csv_url,header=None)

In [16]:
col_names=('Sepal_Length','Sepal_width','Petal_Length','Petal_Width','species')

In [19]:
iris=pd.read_csv(csv_url,names=col_names)

In [20]:
iris.head

<bound method NDFrame.head of      Sepal_Length  Sepal_width  Petal_Length  Petal_Width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [21]:
iris.tail

<bound method NDFrame.tail of      Sepal_Length  Sepal_width  Petal_Length  Petal_Width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [22]:
iris.index

RangeIndex(start=0, stop=150, step=1)

In [23]:
iris.columns

Index(['Sepal_Length', 'Sepal_width', 'Petal_Length', 'Petal_Width',
       'species'],
      dtype='object')

In [24]:
iris.shape

(150, 5)

In [25]:
iris.dtypes

Sepal_Length    float64
Sepal_width     float64
Petal_Length    float64
Petal_Width     float64
species          object
dtype: object

In [28]:
iris.columns.values

array(['Sepal_Length', 'Sepal_width', 'Petal_Length', 'Petal_Width',
       'species'], dtype=object)

In [32]:
iris.describe()

       Sepal_Length  Sepal_width  Petal_Length  Petal_Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [35]:
iris.sort_index

<bound method DataFrame.sort_index of      Sepal_Length  Sepal_width  Petal_Length  Petal_Width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [36]:
iris.sort_values

<bound method DataFrame.sort_values of      Sepal_Length  Sepal_width  Petal_Length  Petal_Width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [37]:
iris.iloc[5]

Sepal_Length            5.4
Sepal_width             3.9
Petal_Length            1.7
Petal_Width             0.4
species         Iris-setosa
Name: 5, dtype: object

In [39]:
iris[0:3]

   Sepal_Length  Sepal_width  Petal_Length  Petal_Width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

In [ ]:
iris.loc[:,["col_name1",col_name2"]]